@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
  --color-background-body: #f6f8ff;
  --color-background-main: #fefefe;
  --color-font: #4b6a9b;
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --color-background-body: #141d2f;
    --color-background-main: #1e2a47;
    --color-font: #ffffff;
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  height: 100vh;
  margin: auto 0;
  padding-top: 3.1rem;
  font-family: "Space Mono", sans-serif;
}

main {
  width: 32.7rem;
  height: auto;
  margin: 0 auto;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head .devfinder {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--color-font);
  line-height: 3.85rem;
}
.head .color-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}
.color-mode span {
  font-size: 1.3rem;
  color: var(--color-font);
  letter-spacing: 0.25rem;
}

.submain .userSearch {
  width: 100%;
  height: 6rem;
  background-color: var(--color-background-main);
  border-radius: 1.5rem;
  margin-top: 3.5rem;
}

.inputDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;

  gap: 0.8rem;
  margin-left: 1.6rem;
}

.inputDiv input {
  background-color: transparent;
  width: 18.4rem;
  border: none;
  outline: none;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--color-font);
}

.inputDiv input::placeholder {
  color: var(--color-font);
}

.inputDiv img {
  height: 1.7rem;
}

.inputDiv button {
  height: 4.6rem;
  background-color: #0079ff;
  color: #ffffff;
  border-radius: 1rem;
  border: none;
  width: 8.4rem;
}

.submain .user-card {
  width: 100%;
  height: auto;
  background-color: var(--color-background-main);
  border-radius: 1.5rem;
  margin-top: 1.6rem;

  padding: 3.3rem 2.4rem 4.9rem;
  /* padding-top: 3.3rem; */
}

.user-card_main {
  display: flex;
  align-items: center;
  height: auto;
  gap: 2rem;
}

.user-card_main .user-photo-left {
  width: 7rem;
  height: 7rem;
}

.user-photo-left img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  text-align: left;
}

.content-right h1 {
  color: var(--color-font);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.content-right p a {
  color: #0079ff;
  text-decoration: none;
  font-size: 1.3rem;
}

.content-right p:last-child {
  color: var(--color-font);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.9rem;
  text-transform: capitalize;
}

.user-bio {
  margin-top: 3.4rem;
}

.user-bio p {
  color: var(--color-font);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.user-stats {
  width: 100%;
  height: 8.5rem;
  background-color: var(--color-background-body);
  border-radius: 1rem;
  margin-top: 2.2rem;
  padding-block: 1.9rem;
  display: flex;
  justify-content: space-around;
}

.user-stats div {
  text-align: center;
  font-size: 1.1rem;
  color: var(--color-font);
  font-weight: 400;
  line-height: 1.6rem;
}

.user-stats div > p:last-child {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: 0.8rem;
}

.user-info {
  margin-top: 2.5rem;
}
.user-info div + div {
  margin-top: 1.6rem;
}

.user-info div {
  display: flex;
  color: red;

  align-items: center;
  gap: 1.9rem;
}

.user-info div span:last-child {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--color-font);
}

svg {
  fill: var(--color-font);
}

@media (min-width: 768px) {
  main {
    width: 57.3rem;
  }

  .submain .userSearch {
    height: 6.9rem;
  }
  .inputDiv {
    gap: 2.6rem;
    margin-left: 3.2rem;
  }
  .inputDiv input {
    font-size: 1.8rem;
    width: 25.4rem;
  }
  .inputDiv button {
    font-size: 1.6rem;
    height: 5rem;
    width: 10.6rem;
    margin-left: 10rem;
  }

  .inputDiv img {
    height: 2.1rem;
  }

  .submain .user-card {
    padding: 4rem;
  }

  .user-card_main {
    gap: 4.1rem;
  }
  .user-card_main .user-photo-left {
    width: 11.7rem;
    height: 11.7rem;
  }

  .content-right h1 {
    font-size: 2.6rem;
  }
  .content-right p a {
    font-size: 1.6rem;
  }
  .content-right p:last-child {
    font-size: 1.5rem;
  }
  .user-bio p {
    font-size: 1.5rem;
  }
  .user-stats {
    margin-top: 3.2rem;
  }
  .user-stats div {
    font-size: 1.3rem;
  }
  .user-stats div > p:last-child {
    font-size: 2.2rem;
  }

  .user-info {
    margin-top: 3rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
  }
  .user-info div + div {
    margin-top: 0;
  }
  .user-info div span:last-child {
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  main {
    width: 73rem;
  }
  .inputDiv input:hover {
    cursor: pointer;
  }
  .inputDiv button {
    margin-left: 25rem;
  }
  .head .color-mode:hover {
    cursor: pointer;
  }

  .inputDiv button:hover {
    background-color: #60abff;
    cursor: pointer;
  }
}
